
<div class="container">

    <div class="col">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlP2TJCEgjVL61ZhE6JkZ8E4LlOQnRofLfXg&s" alt="">
    </div>
    
    
    
    <div class="col">
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlP2TJCEgjVL61ZhE6JkZ8E4LlOQnRofLfXg&s" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlP2TJCEgjVL61ZhE6JkZ8E4LlOQnRofLfXg&s" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlP2TJCEgjVL61ZhE6JkZ8E4LlOQnRofLfXg&s" alt=""></div>
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlP2TJCEgjVL61ZhE6JkZ8E4LlOQnRofLfXg&s" alt=""></div>

    </div>

</div>
<app-card></app-card>
