.container{
    
    width: 50%;
    padding-left: 25%;
  
justify-content: center;
}
.col{
    justify-content: center;
    display: flex;
}
img{
    width: 100%;
    
}
h1{
    display: flex;
    justify-content: center;
}