<h1>LO MAS VISTO</h1>
<div class="container">

    <div class="col">
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/GXLOIYAKO5EQNCIG5K3KC37CPM.jpg" alt="">
    </div>
    
    
    
    <div class="col">
        <div><img src="https://preview.redd.it/llegar%C3%A1n-a-traer-lector-omnisciente-v0-dbd4a1ujrpfd1.jpeg?auto=webp&s=c01f47ab39f159d98f2f9f51d5284996a6367f73" alt=""></div>
        <!-- <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlP2TJCEgjVL61ZhE6JkZ8E4LlOQnRofLfXg&s" alt=""></div> -->
        <div><img src="https://preview.redd.it/llegar%C3%A1n-a-traer-lector-omnisciente-v0-dbd4a1ujrpfd1.jpeg?auto=webp&s=c01f47ab39f159d98f2f9f51d5284996a6367f73" alt=""></div>
        <!-- <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlP2TJCEgjVL61ZhE6JkZ8E4LlOQnRofLfXg&s" alt=""></div> -->

    </div>

</div>
<H1>TENDENCIA</H1>
<app-card></app-card>
